In [1]:
### Library Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Script Imports
import utils


### Import the loans file
df = pd.read_csv('../../project/banking_data/account.csv', sep=';')

      account_id  district_id                   frequency    date
0            576           55            monthly issuance  930101
1           3818           74            monthly issuance  930101
2            704           55            monthly issuance  930101
3           2378           16            monthly issuance  930101
4           2632           24            monthly issuance  930102
5           1972           77            monthly issuance  930102
6           1539            1  issuance after transaction  930103
7            793           47            monthly issuance  930103
8           2484           74            monthly issuance  930103
9           1695           76            monthly issuance  930103
10          1726           48            monthly issuance  930103
11          2881           70            monthly issuance  930104
12          2357           19            monthly issuance  930104
13          2177           62            monthly issuance  930104
14           485            6  issuance after transaction  930104
15           652           21            monthly issuance  930105
16          9635           70            monthly issuance  930105
17          1844           44            monthly issuance  930106
18          1926           37            monthly issuance  930106
19          2393           10            monthly issuance  930107
20          3510           41            monthly issuance  930107
21          1276           36            monthly issuance  930107
22          1637            1            monthly issuance  930108
23          3871           26            monthly issuance  930108
24           192           55            monthly issuance  930108
25           764            1            monthly issuance  930108
26          2087            7             weekly issuance  930108
27          2122           68            monthly issuance  930108
28          3592           54            monthly issuance  930108
29          3487           41            monthly issuance  930108
...          ...          ...                         ...     ...
4470         579            1            monthly issuance  971216
4471        2892           64            monthly issuance  971216
4472        1186           64            monthly issuance  971217
4473        2440           19            monthly issuance  971218
4474        2791           25            monthly issuance  971219
4475        3169           19            monthly issuance  971219
4476        2049           67            monthly issuance  971219
4477         758           51            monthly issuance  971219
4478        1177           27            monthly issuance  971220
4479         246           65            monthly issuance  971220
4480        1171           18            monthly issuance  971220
4481        3187           59            monthly issuance  971220
4482        3385            1            monthly issuance  971221
4483         703           54            monthly issuance  971221
4484        1318           56            monthly issuance  971222
4485         889           43            monthly issuance  971222
4486        4332           74            monthly issuance  971223
4487         564            5            monthly issuance  971223
4488        3934            6            monthly issuance  971223
4489        1983           54            monthly issuance  971225
4490         727           35            monthly issuance  971225
4491        3048           74             weekly issuance  971226
4492        3025           25            monthly issuance  971227
4493         906           59            monthly issuance  971227
4494         845           14            monthly issuance  971227
4495         124           55            monthly issuance  971228
4496        3958           59            monthly issuance  971228
4497         777           30            monthly issuance  971228
4498        1573           63            monthly issuance  971229
4499        3276            1            monthly issuance  971229

[4500 rows x 4 columns]

In [2]:
accounts = utils.date_conversion(df,'date')
accounts

      account_id  district_id                   frequency        date
0            576           55            monthly issuance  01-01-1993
1           3818           74            monthly issuance  01-01-1993
2            704           55            monthly issuance  01-01-1993
3           2378           16            monthly issuance  01-01-1993
4           2632           24            monthly issuance  02-01-1993
5           1972           77            monthly issuance  02-01-1993
6           1539            1  issuance after transaction  03-01-1993
7            793           47            monthly issuance  03-01-1993
8           2484           74            monthly issuance  03-01-1993
9           1695           76            monthly issuance  03-01-1993
10          1726           48            monthly issuance  03-01-1993
11          2881           70            monthly issuance  04-01-1993
12          2357           19            monthly issuance  04-01-1993
13          2177           62            monthly issuance  04-01-1993
14           485            6  issuance after transaction  04-01-1993
15           652           21            monthly issuance  05-01-1993
16          9635           70            monthly issuance  05-01-1993
17          1844           44            monthly issuance  06-01-1993
18          1926           37            monthly issuance  06-01-1993
19          2393           10            monthly issuance  07-01-1993
20          3510           41            monthly issuance  07-01-1993
21          1276           36            monthly issuance  07-01-1993
22          1637            1            monthly issuance  08-01-1993
23          3871           26            monthly issuance  08-01-1993
24           192           55            monthly issuance  08-01-1993
25           764            1            monthly issuance  08-01-1993
26          2087            7             weekly issuance  08-01-1993
27          2122           68            monthly issuance  08-01-1993
28          3592           54            monthly issuance  08-01-1993
29          3487           41            monthly issuance  08-01-1993
...          ...          ...                         ...         ...
4470         579            1            monthly issuance  16-12-1997
4471        2892           64            monthly issuance  16-12-1997
4472        1186           64            monthly issuance  17-12-1997
4473        2440           19            monthly issuance  18-12-1997
4474        2791           25            monthly issuance  19-12-1997
4475        3169           19            monthly issuance  19-12-1997
4476        2049           67            monthly issuance  19-12-1997
4477         758           51            monthly issuance  19-12-1997
4478        1177           27            monthly issuance  20-12-1997
4479         246           65            monthly issuance  20-12-1997
4480        1171           18            monthly issuance  20-12-1997
4481        3187           59            monthly issuance  20-12-1997
4482        3385            1            monthly issuance  21-12-1997
4483         703           54            monthly issuance  21-12-1997
4484        1318           56            monthly issuance  22-12-1997
4485         889           43            monthly issuance  22-12-1997
4486        4332           74            monthly issuance  23-12-1997
4487         564            5            monthly issuance  23-12-1997
4488        3934            6            monthly issuance  23-12-1997
4489        1983           54            monthly issuance  25-12-1997
4490         727           35            monthly issuance  25-12-1997
4491        3048           74             weekly issuance  26-12-1997
4492        3025           25            monthly issuance  27-12-1997
4493         906           59            monthly issuance  27-12-1997
4494         845           14            monthly issuance  27-12-1997
4495         124           55            monthly issuance  28-12-1997
4496        3958           59            monthly issuance  28-12-1997
4497         777           30            monthly issuance  28-12-1997
4498        1573           63            monthly issuance  29-12-1997
4499        3276            1            monthly issuance  29-12-1997

[4500 rows x 4 columns]